.h1{
    color: #F00;
    
}
.h2{
    color: #2400FF;
    
}
.h3{
    color: #00461C;
    
}
.p1{
    color: #949494;
    
}
.p2{
    color: #FF2929;
    
}
.p3{
    color: #000;
    
}
